html {
    font-family: 'Georgia', serif;
    font-size: 16px;
}

header {
    font-weight:300;
    background-image: url(../pictures/Turntable%202.jpg);
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 20px;
    background-position: center;
    color: white;
         
}

hr {
    width: "10%";
    color: black;


}

h1,h2 {
    font-family: Georgia;
    font-weight: 400px;
    margin-bottom: 0px;
  
}
  

h1 {
    font-size: 5rem;
    color: purple;
   }

h2 {
    font-size: 3rem;
    
}

.container1 {
    max-width: auto;
    text-align: center;

     
}

.container2 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1in;
    padding-right: 1in;

}


#menu {
    background-color: #E0E0E0;
    padding-top: 1px;
    padding-bottom: 1px;
  
}

#menu dt {   
    font-weight: bold;
}

#menu dd {
    margin-left: auto;
    margin-bottom: 1rem;
}

main {
  
    line-height: 1.5;
    padding-top: 1px;
    padding-bottom: 1px;
}

.img-container1 {
    float: auto;
    margin-left: auto;
    margin-right: auto;
}

  .img-container2 {
    float: left;
    width: 25%; /* three containers (use 25% for four, and 50% for two, etc) */
    padding: 10px; /* if you want space between the images */
  }  

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
 

main img {
    float: center;
}


footer {
    background-color: blue;
    fill: white;
    color: white
        
}

  footer {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
  }
