html {
    font-family: 'Georgia', serif;
    font-size: 16px;
}

header {
    font-weight:300;
    background-image: url(../pictures/Turntable%202.jpg);
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 20px;
    background-position: center;
    color: white;
         
}

hr {
    width: "100%";
    height: 10px;
    background: black;
  
}

h1,h2,h3 {
    font-family: Georgia;
    font-weight: 400px;
    margin-bottom: 0px;
    margin-top: 0px;
  
}
  

h1 {
    font-size: 5rem;
    color: purple;
   }

h2 {
    font-size: 3rem;
    margin-top: 0px;
    
}

h3 {
    font-size: 2rem;
}

.container1 {
    max-width: 100%;
    text-align: center;
   
}

.container2 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5in;
    padding-right: .5in;
    background: linear-gradient(white,silver,white);

}

.container3 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2in;
    padding-right 2in;
    font-size: 3rem;
}

.container4 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5in;
    padding-right: .5in;
  
   
   
}

#mapid {
    height: 600px;
    width:700px;
      
}
        

#menu {
    background: linear-gradient(silver,white);
    padding-left: .5in;
    padding-right: .5in;
    padding-top:.25in;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 14px;
    
}

#menu dt {   
    font-weight: bold;
}

#menu dd {
    margin-left: auto;
    margin-bottom: 1rem;
}

main {
  
    line-height: 1.5;
    padding-top: 1px;
    padding-bottom: 1px;
}

img {
    max-width: 100%;

 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


  .img-container {
    float: left;
    width: 30%;
    padding: 5px;
  }  

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}



footer {
    background-color: black;
    fill: black;
    color: white
        
}

  footer {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
  }
